@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: roboto;
    background-color: #11151A;
    color: #ffff;
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #E1E8ED;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  margin: 10px;
}

/* Style the logo link */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: #11151A;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

.hero{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/Gemini_Generated_Image_80jne080jne080jn.png");
  width: 100vw;
  height: 30vw;
  background-repeat: no-repeat;

  
  text-align: center;

  border-bottom-left-radius: 60px;
  border-bottom-right-radius:60px ;
}

.hero h1{
  font-size: 4rem;
  margin: 0px;
  padding: 0px;
  text-align: center;
  padding: 100px;
  color: white;
  opacity: 100%;
}

.footer{
  
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
  background-color: black;
  color: white;
  position: relative;
  bottom: 0px;
}


.parent {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 3; }
.div5 { grid-area: 3 / 1 / 4 / 2; }
.div6 { grid-area: 3 / 2 / 4 / 3; }
.div7 { grid-area: 4 / 1 / 5 / 2; }
.div8 { grid-area: 4 / 2 / 5 / 3; }

